{% extends "_base.html" %}
{% block content %}

<div class="col-lg-12">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Parameters</h6>
		</div>
		
		<div class="card-body">

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<input id="demo" type="text" name="birthday" value="10/24/1984" />

<script>
$('#demo').daterangepicker({
    "singleDatePicker": true,
    "autoApply": true,
    "startDate": "02/06/2020",
    "endDate": "02/12/2020"
}, function(start, end, label) {
  console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
});
</script>
</html>
		<!-- End card-body -->	
		</div>
	<!-- End card-->	
	</div>
<!-- End c-->		
</div>

{% endblock %}